<div class="orders">
  <!-- <mat-button-toggle-group #group="matButtonToggleGroup" class="btns"  [value]="isViewMmodule">
        <mat-button-toggle value="true" aria-label="Text align left" value="true" (change)="onEventView($event.value)">
            <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="false" aria-label="Text align center"  (change)="onEventView($event.value)">
            <mat-icon>reorder</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
  
    <ng-container *ngIf="!isViewMmodule">
       
    </ng-container>
    <ng-container *ngIf="isViewMmodule" >
       
    </ng-container> -->
  <mat-tab-group dynamicHeight>
    <mat-tab label="Tạo Đơn Hàng Nhanh">
      <app-order [dataAll]="dataAll"></app-order>
    </mat-tab>
    <mat-tab label="Đơn Hàng Mói">
      <app-product-array [dataAll]="dataAll" [newOrder]="true"></app-product-array>
    </mat-tab>
  </mat-tab-group>
</div>