:root {
    --height: 400px
}
$height:512px;
$width150:150px;
.flex-2{
    width: 150px;
}
.btn-left {
    width: 100px;
    margin: 4px;
    text-align: left;
    transition: 0.4s all;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.groupkhs {
    justify-content: flex-start;

}
.edit{
    cursor: text;
}
.left0 {
    margin-left: 0;
}
.show-table{
    max-height: 280px;
    overflow-y: auto;
}
mat-button-toggle-group {
    height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.btn-left:hover {
    background: #7d8ef1;
    color: whitesmoke !important;
}

.active {
    background: #3f51b5;
    color: white !important;
}

.main {
    display: flex;
    flex-direction: row;
    max-height: $height;
    width: 100%;
}

.colection-left {
    max-height: $height;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-1 {
    overflow: hidden;
    height: 100%;
}

th td:not(:nth-child(0)) {
    padding: 4px;
    text-align: right;
    border: 1px solid #ddd;
}

th td,
tfoot td {
    border: 1px solid #ddd;
}

th {
    background-color: #3f51b5;
    padding: 8px;
    color: #ddd;
}

tr td {
    padding: 4px;
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
}

.main .center {
    max-height: 452px;
    overflow-y: auto;
    display: flex;
    flex-flow: wrap;
    width: 520px;
    justify-content: flex-start;
    align-content: flex-start;
}

.btn-center {
    width: 120px;
    height: 106px;
    margin: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.max-width490 {
    max-width: 490px;
}

.btns-left {
    max-height: 740px;
    width: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0px !important
}

.mat-mdc-card-content {
    padding: 0 2px !important
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    border-radius: 1px;
}

.flex-1 {
    margin-right: 4px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.table-right {
    width: 100%;
}