<div class="main">
    <mat-card class="btns-left">
        <mat-card-content>
            <button mat-stroked-button class="btn-left" color="primary" *ngFor="let item of groups"
                (click)="onClick(item)">{{item}}</button>
        </mat-card-content>
    </mat-card>
    <div class="flex" style="width: 100%;flex-direction: column;">
        <mat-card>
            <mat-card-content>
                <div style="width: 100%;flex-direction: column;" class="flex">
                    <app-autocomplete [data]="khachhangs" *ngIf="khachhangs.length>0" [options]="optionsKhs"
                        (selectTed)="onSelectedKh($event)" class="max-width490"></app-autocomplete>
                    <div class="flex groupkhs">
                        <mat-form-field appearance="fill" style="min-width: 90px;">
                            <mat-label>Tiền Công</mat-label>
                            <input matInput placeholder="Tiền Công" type="number" min="0">
                            
                          </mat-form-field>
                          <mat-form-field appearance="fill" style="min-width: 90px;">
                            <mat-label>Phí Ship</mat-label>
                            <input matInput placeholder="Tiền Ship" type="number" min="0">
                           
                          </mat-form-field>
                          <mat-button-toggle-group  aria-label="Favorite Color" value="vnd">
                            <mat-button-toggle value="vnd">VND</mat-button-toggle>
                            <mat-button-toggle value="%">%</mat-button-toggle>
                          </mat-button-toggle-group>
                          <mat-form-field appearance="fill" style="min-width: 90px;">
                            <mat-label>Giảm</mat-label>
                            <input matInput placeholder="Giảm" type="number" min="0">
                          </mat-form-field>
                    </div>
                    <app-autocomplete [data]="products" *ngIf="products.length>0" (selectTed)="onSelected($event)"
                        (nameText)="onKeyupSanPham($event)" class="max-width490"></app-autocomplete>

                </div>
                <div class="flex" style="flex-direction: row;">
                    <div class="center">
                        <button mat-flat-button class="btn-center" color="primary" (click)="onClickSanPham(item,$event)"
                            (keypress)="keyPress($event,item)"
                            *ngFor="let item of filterProducts">{{item['Name']}}</button>
                    </div>
                    <div class="right">
                        <table class="table-right">
                            <thead>
                                <th>#</th>
                                <th>Tên Hàng</th>
                                <th>SL</th>
                                <th>ĐV</th>
                                <th>ĐG</th>
                                <th>T. Tiền</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orders;let i= index">
                                    <td><span>{{i+1}}</span></td>
                                    <td><span>{{item['Name']}}</span></td>
                                    <td style="text-align: right;"><span>{{item['count']}}</span></td>
                                    <td style="text-align: right;"><span>{{item['Đơn Vị Tính']}}</span></td>
                                    <td style="text-align: right;"><span>{{item['Giá Bán']|number}}</span></td>
                                    <td style="text-align: right;"><span>{{(item['Giá
                                            Bán']*item['count'])|number}}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="2">Tổng</td>
                                <td colspan="1"></td>
                                <td colspan="2"></td>
                                <td colspan="1"></td>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>