<div class="on-nhap">
    <center>
        <h2 mat-dialog-title>{{title}}</h2>
    </center>
    <!--/Id	Tên sản phẩm	Sản Phẩm	Số Lượng	Đơn Vị Tính	Giá Nhập	Giá Bán-->
    <div mat-dialog-content style="margin-top: -44px;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Ngày Nhập</mat-label>
                <input matInput [matDatepicker]="picker" tabIndex="10" required formControlName="Ngày Nhập">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="nhap-hang">
                <div formArrayName="nhaphangs"
                    *ngFor="let nhaphang of form.controls.nhaphangs?.value;  let i = index;trackBy: trackByFn">
                    <ng-container [formGroupName]="i">
                        <input type="hidden" name="" formControlName="Id">
                        <input type="hidden" name="" formControlName="Sản Phẩm">

                        <div class="flex" style="justify-items: center;    align-items: center;">
                            <mat-form-field appearance="outline" style="flex-grow: 2;">
                                <mat-label>Chọn Sản Phẩm</mat-label>
                                <input type="text" placeholder="Sản Phẩm" required matInput
                                    formControlName="Tên sản phẩm" list="id_sps" (change)="onChangeSanPham($event,i)">
                                <datalist id="id_sps">
                                    <option *ngFor="let sanpham of sanphams" [value]="sanpham['Name']">
                                        {{sanpham['Name']}}</option>
                                </datalist>

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Số Lượng</mat-label>
                                <input matInput placeholder="SL" formControlName="Số Lượng" type="number" required>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>DVT</mat-label>
                                <input type="text" placeholder="Đơn Vị" formControlName="Đơn Vị Tính"
                                    [matAutocomplete]="autoDV" required matInput>
                                <mat-autocomplete autoActiveFirstOption #autoDV="matAutocomplete">
                                    <mat-option *ngFor="let dvt of dvts" [value]="dvt">
                                        {{dvt}}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Giá Nhập</mat-label>
                                <input matInput placeholder="Giá Nhập" step="500" type="number"
                                    formControlName="Giá Nhập">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Giá Bán</mat-label>
                                <input matInput placeholder="Giá Bán" step="500" type="number"
                                    formControlName="Giá Bán">
                            </mat-form-field>
                            <mat-icon color="warn" class="delete" (click)="onDelete(i,nhaphang)">delete</mat-icon>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div mat-dialog-actions style="    justify-content: flex-end;">
                <button mat-flat-button color="primary" type="button" (click)="addRow()">Thêm
                    &nbsp;<mat-icon>add</mat-icon></button>
                <button mat-flat-button color="accent" type="submit" mat-dialog-close
                    [disabled]="!form.valid">{{optionButtonUpdate?'Cập Nhật':'Thêm'}}
                    &nbsp;<mat-icon>{{optionButtonUpdate?'update':'save'}}</mat-icon></button>
                <button mat-flat-button color="warn" [mat-dialog-close]="true">Đóng
                    &nbsp;<mat-icon>close</mat-icon></button>
            </div>
        </form>
    </div>

</div>