<!--
Ghi Chú
Giảm Giá
Id
Khách Hàng
Ngày Bán
Phí Ship
Số Lượng
Thanh Toán
Thành Tiền
Tiền Công
Trạng Thái
Tên Khách Hàng

-->


<center *ngIf="!showTitle">
  <h1 mat-dialog-title innerHTML="{{title}}" class="orders-title" ></h1>
</center>
<form [formGroup]="formGroup" class="full-width" style=" margin-left: 8px;margin-top:8px" (ngSubmit)="onSubmit()">
  <input type="hidden" name="Id" formControlName="Id">
  <input formControlName='Khách Hàng' type="hidden">
  <input formControlName='Trạng Thái' type="hidden">
  <div class="flex">
    <div class="customer">
      <mat-form-field appearance="outline">
        <mat-label>Danh Sách KH</mat-label>
        <input list="dsKhachHang" matInput placeholder="Chọn Khách Hàng" formControlName="Tên Khách Hàng"
          (change)="onKeyUpCustomer($event.target)">

        <datalist id="dsKhachHang">
          <option *ngFor="let khach of khachhangs" [value]="khach['Tên Khách Hàng']">{{khach['Phone']}}</option>
        </datalist>
      </mat-form-field>
      <button mat-icon-button type="button" color="primary" class="add-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-status-order [required]="true" formControlName='Trạng Thái'
      (eventChange)="eventChangeStatus($event)"></app-status-order>

    <!-- <mat-form-field>
      <mat-label>Trạng Thái</mat-label>
      <mat-select formControlName='Trạng Thái' required>
        <mat-option *ngFor="let status of status" [value]="status.text" [style.color]="status.color">
          {{status.text}}&nbsp; <mat-icon>{{status.icon}}</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="flex">
      <mat-button-toggle-group #group="matButtonToggleGroup" (click)="onChecked($event.target)">
        <mat-button-toggle value="VND" checked="true" aria-label="Text align left">
          VND
        </mat-button-toggle>
        <mat-button-toggle value="%" aria-label="Text align center">
          %
        </mat-button-toggle>

      </mat-button-toggle-group>
      <mat-form-field appearance="outline" style="max-width: 140px;">
        <mat-label>Chiết Khấu</mat-label>
        <input matInput placeholder="Chiết Khấu" formControlName="Chiết Khấu" (keyup)="onCal()">
        <mat-icon matSuffix>money</mat-icon>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Ngày Bán</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="Ngày Bán" (dateChange)="onChangeNgayBan($event)">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


  </div>
  <div class="flex">
    <app-autocomplete [data]="sanphams" *ngIf="sanphams.length>0" (selectTed)="onSelectedSanPham($event)"
      style="flex-grow: 1;"></app-autocomplete>
    <mat-form-field appearance="outline" style="max-width: 150px;margin-left:8px">
      <mat-label>Đơn Vị</mat-label>
      <select matNativeControl required [value]="donvi">
        <option value="1000">x1000đ</option>
        <option value="100">x100đ</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="max-width: 150px;">
      <mat-label>Tiền Công</mat-label>
      <input matInput placeholder="Placeholder" formControlName="Tiền Công" (keyup)="onCal()" (change)="onCal()">
      <mat-icon matSuffix>money</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <div class="details" id="scrollTop" style="display: flex;">
      <div formArrayName="chitiets"
        *ngFor="let chitiet of formGroup.controls.chitiets?.value; index as i;trackBy: trackByFn">
        <ng-container [formGroupName]="i">
          <input placeholder="Id" type="hidden" formControlName="Id" />
          <input placeholder="Id" type="hidden" formControlName="Đơn Vị Tính" />
          <input placeholder="Sản Phẩm" type="hidden" formControlName="Sản Phẩm" />
          <input placeholder="Sản Phẩm" type="hidden" formControlName="Đơn Hàng" />
          <input placeholder="Sản Phẩm" type="hidden" formControlName="Giá Nhập" />
          <input placeholder="Sản Phẩm" type="hidden" formControlName="Ngày" [(ngModel)]="ngay" />
          <mat-form-field appearance="outline" style="flex-grow: 1;">
            <mat-label>Tên Sản Phẩm</mat-label>
            <input matInput list="dsSps" placeholder="Tên Sản Phẩm" required formControlName="Tên Sản Phẩm"
              (change)="onChangeValue($event.target)" />
            <datalist id="dsSps">
              <option *ngFor="let sanpham of sanphams" value="{{sanpham['Name']}}"></option>
            </datalist>
            <!-- <mat-select (selectionChange)="onChangeValue($event,i)" placeholder="Tên Sản Phẩm" required formControlName="Tên Sản Phẩm">
              <mat-option *ngFor="let sanpham of sanphams" [value]="sanpham['Name']" >
                {{sanpham['Name']}}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Số Lượng</mat-label>
            <input matInput placeholder="Số Lượng" type="number" required formControlName="Số Lượng" 
              (change)="onChangeValue()"  (keyup)="onChangeValue()"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Đơn Giá</mat-label>
            <input matInput placeholder="Đơn Giá" type="number" required min="1" formControlName="Đơn giá"   autocomplete="off"
              (change)="onChangeValue()"  />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Thành Tiền</mat-label>
            <input matInput placeholder="Thành Tiền" type="number" formControlName="Thành Tiền" readonly />
          </mat-form-field>
          <mat-icon color="warn" class="delete" (click)="onDelete(i)">delete</mat-icon>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="flex full-width btns-bottom" style="justify-items: flex-end;margin-top:16px">
    <button mat-flat-button color="primary" type="button" (click)="onAdd()">Thêm &nbsp;<mat-icon>add</mat-icon></button>
    <button mat-flat-button color="accent" type="submit" [mat-dialog-close]="true"
      [disabled]="!formGroup.valid">{{optionButtonUpdate?'Cập Nhật':'Thêm'}}
      &nbsp;<mat-icon>{{optionButtonUpdate?'update':'save'}}</mat-icon></button>
    <button mat-flat-button color="warn" type="button" mat-dialog-close>Đóng &nbsp;<mat-icon>close</mat-icon></button>
  </div>
</form>