table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.flex.center{
  display: flex;
  align-items: center;
}
.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.table-ngay,
.table-ngay td,
.table-ngay th {
  border: 1px solid rgba(56, 56, 56, 0.452);
  padding: 4px;

}

.table-ngay {
  border-collapse: collapse;
  width: 100%;
}

mat-table,
mat-table td,
mat-table th {
  border: 1px solid rgba(56, 56, 56, 0.452);
  padding: 4px;

}

mat-table {
  border-collapse: collapse;
  width: 100%;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.tag-a {
  text-align: left;
  fill: currentColor;
  text-transform: capitalize;
  display: block;
  padding: 4px;
}
.tr-today{
  background-color: #c5e3fd4d;
}