<div class="max-height ">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef [ngClass]="column=='Id'?'flex center':''"> {{column}}
                <div class="flex" style="align-items: center;" *ngIf="column=='Id'">
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="onPrints($event)">
                        <mat-icon>local_printshop</mat-icon>
                    </button>

                </div>
            </th>
            <td mat-cell *matCellDef="let element" [ngClass]="IsNumber(element[column])" matRipple>
                <div class="flex" style="align-items: center;">
                    <div *ngIf="options.a===column"> 
                        <a (click)="onClickButton(element,$event)" class="tag-a"
                            style="text-align: left;">{{element[column]}}</a>
                         
                        </div>
                    <div *ngIf="options.a!==column && column!='Trạng Thái'" > {{element[column]|formmatNumberX}}</div>
                    <ng-container *ngIf="column=='Id'">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                        </mat-checkbox>
                    </ng-container>
                    <ng-container *ngIf="column=='Trạng Thái'">
                        <app-status [statusText]="element[column]"  (eventChange)="onSelectStatus($event,element);" (click)="onStop($event)"></app-status>
                    </ng-container>
                </div>
            </td>
        </ng-container>
        <!-- Checkbox Column -->

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" 
                    (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div  class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram" style="height: auto;width:100%">
                        <div class="flex" style="flex-direction: column; justify-content: flex-end" >
                            <table class="table-ngay " *ngIf="element.chitiets.length>0">
                                <thead>
                                    <th *ngFor="let th of columnsChild">{{th}}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of element.chitiets">
                                        <td *ngFor="let th of columnsChild" [ngClass]="IsNumber(item[th])">
                                            <div >{{item[th]|formmatNumberX}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="flex btns-bottom" style="justify-content: flex-end;
                            margin-top: 8px;">
                                <button mat-flat-button mat-dialog-close color="primary"
                                    (click)="onCapNhat(element,'capnhat')"><span>Cập
                                        Nhật</span>&nbsp;<mat-icon>update</mat-icon></button>
                                <button mat-flat-button mat-dialog-close color="warn"
                                    (click)="OnPrint(element,$event)"><span>In</span>&nbsp;<mat-icon>local_printshop</mat-icon></button>
                                <button mat-flat-button color="accent"
                                    (click)="OnEvent(element,'xoa')"><span>Xóa</span>&nbsp;<mat-icon>delete_outline</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand;sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [ngClass]="classToday(element['Ngày Bán'])" [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[8, 20,50,100]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>