kh {
    display: block;
    width: 100%;
    margin-top:-55px
}

.infor-store {
    margin: 4px;
    margin-top: 8px;
    display: block;
    width: 100%;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.a8 .infor-store {
    text-align: center;
    font-size: 14px;
}

.bill-table {
    width: 100%;
    display: block;
    margin-top: 16px;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.a5 {
    font-size: 16px;
}

.left {
    display: block;
}

.qr {
    margin-top: -7px;
}