<mat-toolbar color="primary" style="position: fixed;z-index:99999">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"> {{ver}}</span>

  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="drawer-container" style="height: 100%;padding-top:64px" autosize>
  <mat-drawer #drawer style="padding-top:64px" mode="side" opened>
    <app-menu-left></app-menu-left>

  </mat-drawer>
  <mat-drawer-content class="drawer-content-1">
    <mat-card>
      <mat-card-content style="height: 100%;">
        <div class="spin-1" id="spin-1">
          <mat-spinner></mat-spinner>
        </div>

        <!-- <app-order></app-order> -->
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

<div class="bt-sti1" [ngClass]="showBtDonHang?'show':'hide'">
  <button mat-fab (click)="onOpenDialog()">
    <mat-icon mat-icon-button>edit</mat-icon>
  </button>

</div>