<mat-toolbar color="primary" style="position: fixed;
z-index: 1000000;">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span >{{pageName||'Trang Chủ'}}</span>
    <button class="mat-icon-button" mat-icon-button (click)="onRefesh()">
        <mat-icon>update</mat-icon>
      </button>
      
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav margin-top64" mode="side" opened >
        <app-menu-left></app-menu-left>
    </mat-drawer>

    <div class="example-sidenav-content margin-top64" style="overflow: hidden;">
        <router-outlet></router-outlet>
        <app-spinner> </app-spinner>
    </div>

</mat-drawer-container>