<div class="flex">{{id}}
    <div class="flex" style="flex-grow: 1;">
        <div style="margin-right: 8px;">
            Chọn kiểu
            <select name="cars" id="cars" (change)="onChangeType($event)">
                <option value="{{item}}" *ngFor="let item of typeArray">{{item}}</option>
              </select>
        </div>
        <div style="margin-right: 8px;">
            0X
            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
        </div>
        <div style="margin-right: 8px;">
            0Y
            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
        </div>
    </div>
    <mat-icon>fullscreen</mat-icon>
    <mat-icon>fullscreen_exit</mat-icon>
</div>

<canvas id="{{this.id}}"  ></canvas>