.tr {
    transition: 0.4s all;
}

.tr:hover {
    background: whitesmoke;
    color: var(--mat-stepper-header-error-state-label-text-color);
    cursor: pointer;
}

.table {
    max-height: 500px;
    overflow: auto;
}

.mat-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}