table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-mdc-header-row .mat-mdc-header-cell:nth-child(1) {
  width: 64px;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.btnDelete {
  display: none;
  opacity: 0;
  transition: 0.5s all;
}

.btnDelete.show {
  display: block;
  opacity: 1;
}

.table-ngay {
  border-collapse: collapse;
  width: 100%;
}

// th {
//   color: whitesmoke;
// }

// thead {
//   background: cadetblue;
// }

// .table-ngay,
// td,
// th {
//   border: 1px solid rgba(56, 56, 56, 0.452);
//   padding: 4px;

// }

.mat-expansion-panel-header-description {
  justify-content: end;
}

.mat-mdc-table-v {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}