.table-ngay{
    border-collapse: collapse;
    width: 100%;
}
th{
    color: whitesmoke;
}
thead{
    background: cadetblue;
}
.table-ngay, td, th {
    border: 1px solid rgba(56, 56, 56, 0.452);
    padding: 4px;
   
  }
  .mat-expansion-panel-header-description{
    justify-content: end;
  }