<form class="full-width">
    <mat-form-field class="full-width">
        <mat-label>Tên Sản Phẩm</mat-label>
        <input matInput placeholder="Pizza">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Giá Nhập</mat-label>
        <input matInput type="number" placeholder="Giá Nhập">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Giá Bán</mat-label>
        <input matInput type="number" placeholder="Giá Bán">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Nhóm</mat-label>
        <input matInput type="text" placeholder="Thuộc Nhóm">
    </mat-form-field>
</form>