<div class="main">
    <div class="groups">
        <button mat-stroked-button class="btn-left" color="primary" (click)="onClick(item)"
            *ngFor="let item of groups">{{item}}</button>
    </div>
    <div class="main-center">
        <app-autocomplete [data]="categories" *ngIf="categories.length>0" class="max-width490"
            (selectTed)="onSelected($event)" (keyUp)="onKeyUpProduct($event)"></app-autocomplete>
        <div class="btns-center">
            <div class="btn-center">
                <button (click)="addNewProduct()" color="accent" mat-flat-button  class="flex center new-product">new
                </button>

            </div>
            <div class="btn-center" *ngFor="let item of filterProducts">
                <button mat-flat-button matTooltipPosition="right"  matTooltip="Hàng tồn kho : {{item.inventory}}" class=" {{ngClassSelect(item.quantity)}}" style="height: 100%;width:100%"
                    color="primary" (click)="onClickCategory(item,$event)"
                    (keypress)="keyPressCategory($event,item)">{{item['name']}} </button>
                    <span class="inventory" *ngIf="item.inventory>0">{{item.inventory}}</span>
                <button mat-icon-button color="warn" *ngIf="item.quantity>0" class="icon-delete"
                    (click)="onDeleteDetails(item)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>