.example-element-row td {
  border-bottom-width: 0;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

mat-table {
  border-collapse: collapse;
  width: 100%;
}

table-ngay,
.table-ngay td,
.table-ngay th {
  border: 1px solid rgba(56, 56, 56, 0.452);
  padding: 4px;

}

.table-ngay {
  border-collapse: collapse;
  width: 100%;
}

mat-table,
mat-table td,
mat-table th {
  border: 1px solid rgba(56, 56, 56, 0.452);
  padding: 4px;

}

.flex.btns-bottom>button {
  margin-left: 4px;
}

.iconAction {
  cursor: pointer;
}

.iconAction :hover {
  opacity: 0.85;
  transform: scale(1.1);
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.main-order {
  height: 650px;
  overflow: auto
}