.flex>app-status {
    margin-left: 4px;
}

th td:not(:nth-child(0)) {
    padding: 4px;
    text-align: right;
    border: 1px solid #ddd;
}

th td,
tfoot td {
    border: 1px solid #ddd;
}

th {
    background-color: #3f51b5;
    padding: 8px;
    color: #ddd;
    position: sticky;
    top: 0;
    /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

table thead,
table tfoot {
    position: sticky;
}

table thead {
    inset-block-start: 0;
    /* "top" */
}

table tfoot {
    inset-block-end: 0;
    /* "bottom" */
    background-color: rgb(64, 64, 65);
    color: whitesmoke;
}

tr td {
    padding: 4px;
    border: 1px solid #ddd;
}

table {
    position: relative;
    border-collapse: collapse;
    padding-right: 8px;
    width: 100%;
}

.show-table {
    max-height: 280px;
    overflow-y: auto;
}

.detail-name {
    position: relative;
    z-index: 0;
    top: 0;
}

.detail-name button {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 100;
    display: none;
}

tbody tr:hover button {
    cursor: pointer;
    display: block;
}